# Xcode / iOS / Swift
## User data and state
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Build products and intermediates
build/
Build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
*.dia
*.pcm
*.noindex

## Swift Package Manager
.build/
Packages/
Package.pins
.swiftpm/

## Dependency Managers
Pods/
Carthage/Build/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Code Injection
iOSInjectionProject/

# macOS / OS Artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
*.swp
*~
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
